{% block page-content %}
    <title>添加</title>
    <style>
        body {
            background-color: #eeedef;
        }
        th{
            text-align: center;
        }
    </style>
    {% if user.is_authenticated %}

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <form action="update_case/{{ id }}" method="POST" NOVALIDATE class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div >
                        <div class="col-sm-7">
                            <table>
                                {{ case_info_obj }}
                            </table>
                            <input type="button" class="btn btn-success pull-right" data-dismiss="modal" value="取消">
                            <input type="submit" value="提交" class="btn btn-success pull-right">
                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
            </div>
        </div>





    {% else %}
        <a href="/login/"><H4>please login!</H4></a>
    {% endif %}

{% endblock %}
