{% extends 'index.html' %}
{% block page-content %}

    <title>add issue</title>
    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }} -> bug update</h2>

            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class = "table table-striped table-bordered">

                        <tr>
                        <tr hidden><th><label for="id_project_id"></label></th><td><input type="text" name="project_id" class="form-control" id="id_project_id" value="{{ pj.id }}" readonly ></td></tr>
                        <tr><th><label for="id_project_name">Project:</label></th><td><input type="text" name="project_name" class="form-control" id="id_project_name" value="{{ pj.project_name }}" readonly></td></tr>
                        <tr><th><label for="id_TRID">TRID:</label></th><td><input type="text" name="TRID" class="form-control" id="id_TRID" value="{{ issue.TRID }}"></td>
                            <th><label for="id_bugzilla_id">Bugzilla_Id:</label></th><td><input type="text" name="bugzilla_id" class="form-control" id="id_bugzilla_id" value="{{ issue.bugzilla_id }}"></td></tr>
                        <tr><th><label for="id_category">Category:</label></th><td><select  name="category" class="form-control" id="id_category" onchange="change()">
                            <option value="HW" {% ifequal 'HW' issue.category %}selected{%endifequal%}>HW</option>
                            <option value="Key_Component" {% ifequal 'Key_Component' issue.category %}selected{%endifequal%}>Key_Component</option>
                            <option value="FW" {% ifequal 'FW' issue.category %}selected{%endifequal%}>FW</option>
                            <option value="Driver" {% ifequal 'Driver' issue.category %}selected{%endifequal%}>Driver</option>
                            <option value="SW" {% ifequal 'SW' issue.category %}selected{%endifequal%}>SW</option>
                            <option value="ME" {% ifequal 'ME' issue.category %}selected{%endifequal%}>ME</option>
                        </select></td>
                            <th><label for="id_attribute">Attribute:</label></th><td><select name="attribute" class="form-control" id="id_attribute">
                                <option value="[HW]Main Board" {% ifequal "[HW]Main Board" issue.attribute %}selected{%endifequal%}>[HW]Main Board</option>
                                <option value="[HW]Daughter Board" {% ifequal "[HW]Daughter Board" issue.attribute %}selected{%endifequal%}>[HW]Daughter Board</option>
                                <option value="[HW]Signal Integrity" {% ifequal "[HW]Signal Integrity" issue.attribute %}selected{%endifequal%}>[HW]Signal Integrity</option>
                                <option value="[HW]Antenna" {% ifequal "[HW]Antenna" issue.attribute %}selected{%endifequal%}>[HW]Antenna</option>
                                <option value="[HW]EMC/Safety" {% ifequal "[HW]EMC/Safety" issue.attribute %}selected{%endifequal%}>[HW]EMC/Safety</option>
                                <option value="[HW]Thermal" {% ifequal "[HW]Thermal" issue.attribute %}selected{%endifequal%}>[HW]Thermal</option>
                                <option value="[HW]Acoustic" {% ifequal "[HW]Acoustic" issue.attribute %}selected{%endifequal%}>[HW]Acoustic</option>
                                <option value="[HW]Others" {% ifequal "[HW]Others" issue.attribute %}selected{%endifequal%}>[HW]Others</option>
                                <option value="[KC]Chipset" {% ifequal "[KC]Chipset" issue.attribute %}selected{%endifequal%}>[KC]Chipset</option>
                                <option value="[KC]CPU/APU" {% ifequal "[KC]CPU/APU" issue.attribute %}selected{%endifequal%}>[KC]CPU/APU</option>
                                <option value="[KC]VGA" {% ifequal "[KC]VGA" issue.attribute %}selected{%endifequal%}>[KC]VGA</option>
                                <option value="[KC]Memory" {% ifequal "[KC]Memory" issue.attribute %}selected{%endifequal%}>[KC]Memory</option>
                                <option value="[KC]HDD/SDD/mSATA" {% ifequal "[KC]HDD/SDD/mSATA" issue.attribute %}selected{%endifequal%}>[KC]HDD/SDD/mSATA</option>
                                <option value="[KC]ODD" {% ifequal "[KC]ODD" issue.attribute %}selected{%endifequal%}>[KC]ODD</option>
                                <option value="[KC]Panel" {% ifequal "[KC]Panel" issue.attribute %}selected{%endifequal%}>[KC]Panel</option>
                                <option value="[KC]Touch Panel" {% ifequal "[KC]Touch Panel" issue.attribute %}selected{%endifequal%}>[KC]Touch Panel</option>
                                <option value="[KC]Camera" {% ifequal "[KC]Camera" issue.attribute %}selected{%endifequal%}>[KC]Camera</option>
                                <option value="[KC]Card Reader" {% ifequal "[KC]Card Reader" issue.attribute %}selected{%endifequal%}>[KC]Card Reader</option>
                                <option value="[KC]LAN" {% ifequal "[KC]LAN" issue.attribute %}selected{%endifequal%}>[KC]LAN</option>
                                <option value="[KC]WLAN" {% ifequal "[KC]WLAN" issue.attribute %}selected{%endifequal%}>[KC]WLAN</option>
                                <option value="[KC]BlueTooth" {% ifequal "[KC]BlueTooth" issue.attribute %}selected{%endifequal%}>[KC]BlueTooth</option>
                                <option value="[KC]Micphone" {% ifequal "[KC]Micphone" issue.attribute %}selected{%endifequal%}>[KC]Micphone</option>
                                <option value="[KC]KB/Mouse" {% ifequal "[KC]KB/Mouse" issue.attribute %}selected{%endifequal%}>[KC]KB/Mouse</option>
                                <option value="[KC]Remote Control" {% ifequal "[KC]Remote Control" issue.attribute %}selected{%endifequal%}>[KC]Remote Control</option>
                                <option value="[KC]Adapter/PSU" {% ifequal "[KC]Adapter/PSU" issue.attribute %}selected{%endifequal%}>[KC]Adapter/PSU</option>
                                <option value="[KC]USB" {% ifequal "[KC]USB" issue.attribute %}selected{%endifequal%}>[KC]USB</option>
                                <option value="[KC]Audio" {% ifequal "[KC]Audio" issue.attribute %}selected{%endifequal%}>[KC]Audio</option>
                                <option value="[KC]Speaker" {% ifequal "[KC]Speaker" issue.attribute %}selected{%endifequal%}>[KC]Speaker</option>
                                <option value="[KC]Sensor" {% ifequal "[KC]Sensor" issue.attribute %}selected{%endifequal%}>[KC]Sensor</option>
                                <option value="[KC]NFC" {% ifequal "[KC]NFC" issue.attribute %}selected{%endifequal%}>[KC]NFC</option>
                                <option value="[KC]TPM" {% ifequal "[KC]TPM" issue.attribute %}selected{%endifequal%}>[KC]TPM</option>
                                <option value="[KC]Others" {% ifequal "[KC]Others" issue.attribute %}selected{%endifequal%}>[KC]Others</option>
                                <option value="[FW]BIOS" {% ifequal "[FW]BIOS" issue.attribute %}selected{%endifequal%}>[FW]BIOS</option>
                                <option value="[FW]EC" {% ifequal "[FW]EC" issue.attribute %}selected{%endifequal%}>[FW]EC</option>
                                <option value="[FW]Inter ME" {% ifequal "[FW]Inter ME" issue.attribute %}selected{%endifequal%}>[FW]Inter ME</option>
                                <option value="[FW]Others" {% ifequal "[FW]Others" issue.attribute %}selected{%endifequal%}>[FW]Others</option>
                                <option value="[Driver]Chipset" {% ifequal "[Driver]Chipset" issue.attribute %}selected{%endifequal%}>[Driver]Chipset</option>
                                <option value="[Driver]CPU/APU" {% ifequal "[Driver]CPU/APU" issue.attribute %}selected{%endifequal%}>[Driver]CPU/APU</option>
                                <option value="[Driver]VGA" {% ifequal "[Driver]VGA" issue.attribute %}selected{%endifequal%}>[Driver]VGA</option>
                                <option value="[Driver]Touch Panel" {% ifequal "[Driver]Touch Panel" issue.attribute %}selected{%endifequal%}>[Driver]Touch Panel</option>
                                <option value="[Driver]Camera" {% ifequal "[Driver]Camera" issue.attribute %}selected{%endifequal%}>[Driver]Camera</option>
                                <option value="[Driver]Card Reader" {% ifequal "[Driver]Card Reader" issue.attribute %}selected{%endifequal%}>[Driver]Card Reader</option>
                                <option value="[Driver]LAN" {% ifequal "[Driver]LAN" issue.attribute %}selected{%endifequal%}>[Driver]LAN</option>
                                <option value="[Driver]WLAN" {% ifequal "[Driver]WLAN" issue.attribute %}selected{%endifequal%}>[Driver]WLAN</option>
                                <option value="[Driver]BlueTooth" {% ifequal "[Driver]BlueTooth" issue.attribute %}selected{%endifequal%}>[Driver]BlueTooth</option>
                                <option value="[Driver]Hot Key" {% ifequal "[Driver]Hot Key" issue.attribute %}selected{%endifequal%}>[Driver]Hot Key</option>
                                <option value="[Driver]Audio" {% ifequal "[Driver]Audio" issue.attribute %}selected{%endifequal%}>[Driver]Audio</option>
                                <option value="[Driver]Sensor" {% ifequal "[Driver]Sensor" issue.attribute %}selected{%endifequal%}>[Driver]Sensor</option>
                                <option value="[Driver]Others" {% ifequal "[Driver]Others" issue.attribute %}selected{%endifequal%}>[Driver]Others</option>
                                <option value="[SW]Application" {% ifequal "[SW]Application" issue.attribute %}selected{%endifequal%}>[SW]Application</option>
                                <option value="[SW]Preload" {% ifequal "[SW]Preload" issue.attribute %}selected{%endifequal%}>[SW]Preload</option>
                                <option value="[ME]Structure" {% ifequal "[ME]Structure" issue.attribute %}selected{%endifequal%}>[ME]Structure</option>
                                <option value="[ME]Cosmetic" {% ifequal "[ME]Cosmetic" issue.attribute %}selected{%endifequal%}>[ME]Cosmetic</option>
                                <option value="[ME]Cable" {% ifequal "[ME]Cable" issue.attribute %}selected{%endifequal%}>[ME]Cable</option>
                                <option value="[ME]Parts" {% ifequal "[ME]Parts" issue.attribute %}selected{%endifequal%}>[ME]Parts</option>
                                <option value="[ME]Packing" {% ifequal "[ME]Packing" issue.attribute %}selected{%endifequal%}>[ME]Packing</option>
                                <option value="[ME]ID" {% ifequal "[ME]ID" issue.attribute %}selected{%endifequal%}>[ME]ID</option>
                                <option value="[ME]Others" {% ifequal "[ME]Others" issue.attribute %}selected{%endifequal%}>[ME]Others</option>
                            </select></td></tr>
                        <tr><th><label for="id_attribute_name">Attribute_Name:</label></th><td><input type="text" name="attribute_name" class="form-control" id="id_attribute_name" value="{{ issue.attribute_name }}"></td>
                            <th><label for="id_severity" >Severity:</label></th><td><select name="severity" class="form-control" id="id_severity" >
                                <option value="1" {% ifequal "1" issue.severity %}selected{%endifequal%}>1</option>
                                <option value="2" {% ifequal "2" issue.severity %}selected{%endifequal%}>2</option>
                                <option value="3" {% ifequal "3" issue.severity %}selected{%endifequal%}>3</option>
                                <option value="4" {% ifequal "4" issue.severity %}selected{%endifequal%}>4</option>
                            </select></td></tr>
                        <tr><th><label for="id_description">Description:</label></th><td><textarea name="description" class="form-control" id="id_description">{{ issue.description }}</textarea></td>
                            <th><label for="id_procedure">Procedure:</label></th><td><textarea name="procedure" class="form-control" id="id_procedure" >{{ issue.procedure }}</textarea></td></tr>
                        <tr><th><label for="id_comment">Comment:</label></th><td><textarea name="comment" class="form-control" id="id_comment" >{{ issue.comment }}</textarea></td></tr>
                        <tr><th><label for="id_root_cause">Root_Cause:</label></th><td><textarea  name="root_cause" class="form-control" id="id_root_cause" >{{ issue.root_cause }}</textarea></td>
                            <th><label for="id_solution">Solution:</label></th><td><textarea name="solution" class="form-control" id="id_solution" >{{ issue.solution }}</textarea></td></tr>
                        <th><label for="id_status">Status:</label></th><td><select name="status" class="form-control" id="id_status" >
                        <option value="open" {% ifequal "open" issue.status %}selected{%endifequal%}>Open</option>
                        <option value="closed" {% ifequal "closed" issue.status %}selected{%endifequal%}>Closed</option>
                        <option value="verify" {% ifequal "verify" issue.status %}selected{%endifequal%}>Verify</option>
                    </select></td>
                        <th><label for="id_solving_type">Solving_Type:</label></th><td><select  name="solving_type" class="form-control" id="id_solving_type" >
                        <option value="" {% ifequal "" issue.solving_type %}selected{%endifequal%}></option>
                        <option value="Fixed" {% ifequal "Fixed" issue.solving_type %}selected{%endifequal%}>Fixed</option>
                        <option value="Spec Changed" {% ifequal "Spec Changed" issue.solving_type %}selected{%endifequal%}>Spec Changed</option>
                        <option value="Design" {% ifequal "Design" issue.solving_type %}selected{%endifequal%}>Design</option>
                        <option value="Limitation" {% ifequal "Limitation" issue.solving_type %}selected{%endifequal%}>Limitation</option>
                        <option value="Deferred" {% ifequal "Deferred" issue.solving_type %}selected{%endifequal%}>Deferred</option>
                        <option value="Withdraw" {% ifequal "Withdraw" issue.solving_type %}selected{%endifequal%}>Withdraw</option>
                        <option value="Duplicated" {% ifequal "Duplicated" issue.solving_type %}selected{%endifequal%}>Duplicated</option>
                        <option value="Cannot Duplicate" {% ifequal "Cannot Duplicate" issue.solving_type %}selected{%endifequal%}>Cannot Duplicate</option>
                    </select></td></tr>
                        <th><label for="id_open_date">Open_Date:</label></th><td><input type="text" name="open_date" class="form-control" id="id_open_date" readonly value="{{ issue.open_date | date:'Y-m-d' }}"></td>
                        <th><label for="id_verify_date">Verify_Date:</label></th><td><input type="text" name="verify_date" class="form-control" id="id_verify_date" readonly value="{{ issue.verify_date | date:'Y-m-d' }}"></td></tr>
                        <tr><th><label for="id_close_date">Close_Date:</label></th><td><input type="text" name="close_date" class="form-control" id="id_close_date" readonly value="{{ issue.close_date | date:'Y-m-d' }}"></td></tr>
                        <tr><th><label for="id_owner">Owner:</label></th><td><input type="text" name="owner" class="form-control" id="id_owner" value="{{ issue.owner }}" ></td></tr>
                        <tr><th><label for="id_motherboard_version">Motherboard_Version:</label></th><td><input type="text" name="motherboard_version" class="form-control" id="id_motherboard_version" value="{{ issue.motherboard_version }}"></td>
                            <th><label for="id_bios_version">Bios_Version:</label></th><td><input type="text" name="bios_version" class="form-control" id="id_bios_version" value="{{ issue.bios_version }}"></td></tr>
                        <tr><th><label for="id_os_version">OS_Version:</label></th><td><input type="text" name="os_version" class="form-control" id="id_os_version" value="{{ issue.os_version }}"></td>
                            <th><label for="id_submitter">Submitter:</label></th><td><input type="text" name="submitter" class="form-control" id="id_submitter" value="{{ user.last_name }}" readonly></td></tr>
                        <tr><th><label for="id_remark">Remark:</label></th><td><textarea type="text" name="remark" class="form-control" id="id_remark" >{{ issue.remark }}</textarea></td></tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                    <input class="btn btn-success pull-right" type="submit" value="提交">

                </form>
            </div>
        </div>

    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}
    <script>
        $('#id_open_date,#id_verify_date,#id_close_date').datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: 2,
            forceParse: false,
            language: 'en'
        });
        function change()
        {
            var x = document.getElementById("id_category");
            var y = document.getElementById("id_attribute");
            y.options.length = 0; // 清除second下拉框的所有内容


            if(x.selectedIndex == 0)
            {

                y.options.add(new Option("[HW]Main Board", "[HW]Main Board"));
                y.options.add(new Option("[HW]Daughter Board", "[HW]Daughter Board"));
                y.options.add(new Option("[HW]Signal Integrity", "[HW]Signal Integrity"));
                y.options.add(new Option("[HW]Antenna", "[HW]Antenna"));
                y.options.add(new Option("[HW]EMC/Safety", "[HW]EMC/Safety"));
                y.options.add(new Option("[HW]Thermal", "[HW]Thermal"));
                y.options.add(new Option("[HW]Acoustic", "[HW]Acoustic"));
                y.options.add(new Option("[HW]Others", "[HW]Others"));
            }

            if(x.selectedIndex == 1)
            {
                y.options.add(new Option("[KC]Chipset", "[KC]Chipset"));
                y.options.add(new Option("[KC]CPU/APU", "[KC]CPU/APU"));
                y.options.add(new Option("[KC]VGA", "[KC]VGA"));
                y.options.add(new Option("[KC]Memory", "[KC]Memory"));
                y.options.add(new Option("[KC]HDD/SDD/mSATA", "[KC]HDD/SDD/mSATA"));
                y.options.add(new Option("[KC]ODD", "[KC]ODD"));
                y.options.add(new Option("[KC]Panel", "[KC]Panel"));
                y.options.add(new Option("[KC]Touch Panel", "[KC]Touch Panel"));
                y.options.add(new Option("[KC]Camera", "[KC]Camera"));
                y.options.add(new Option("[KC]Card Reader", "[KC]Card Reader"));
                y.options.add(new Option("[KC]LAN", "[KC]LAN"));
                y.options.add(new Option("[KC]WLAN", "[KC]WLAN"));
                y.options.add(new Option("[KC]BlueTooth", "[KC]BlueTooth"));
                y.options.add(new Option("[KC]Micphone", "[KC]Micphone"));
                y.options.add(new Option("[KC]KB/Mouse", "[KC]KB/Mouse"));
                y.options.add(new Option("[KC]Remoter Control", "[KC]Remoter Control"));
                y.options.add(new Option("[KC]Adapter/PSU", "[KC]Adapter/PSU"));
                y.options.add(new Option("[KC]USB", "[KC]USB"));
                y.options.add(new Option("[KC]Audio", "[KC]Audio"));
                y.options.add(new Option("[KC]Speaker", "[KC]Speaker"));
                y.options.add(new Option("[KC]Sensor", "[KC]Sensor"));
                y.options.add(new Option("[KC]NFC", "[KC]NFC"));
                y.options.add(new Option("[KC]TPM", "[KC]TPM"));
                y.options.add(new Option("[KC]Others", "[KC]Others"));
            }
            if(x.selectedIndex == 2)
            {
                y.options.add(new Option("[FW]BIOS", "[FW]BIOS"));
                y.options.add(new Option("[FW]EC", "[FW]EC"));
                y.options.add(new Option("[FW]Inter ME", "[FW]Inter ME"));
                y.options.add(new Option("[FW]Others", "[FW]Others"));

            }
            if(x.selectedIndex == 3)
            {

                y.options.add(new Option("[Driver]Chipset", "[Driver]Chipset"));
                y.options.add(new Option("[Driver]CPU/APU", "[Driver]CPU/APU"));
                y.options.add(new Option("[Driver]VGA", "[Driver]VGA"));
                y.options.add(new Option("[Driver]Touch Panel", "[Driver]Touch Panel"));
                y.options.add(new Option("[Driver]Camera", "[Driver]Camera"));
                y.options.add(new Option("[Driver]Card Reader", "[Driver]Card Reader"));
                y.options.add(new Option("[Driver]LAN", "[Driver]LAN"));
                y.options.add(new Option("[Driver]WLAN", "[Driver]WLAN"));
                y.options.add(new Option("[Driver]Hotkey", "[Driver]Hotkey"));
                y.options.add(new Option("[Driver]BlueTooth", "[Driver]BlueTooth"));
                y.options.add(new Option("[Driver]Sensor", "[Driver]Sensor"));
                y.options.add(new Option("[Driver]Audio", "[Driver]Audio"));
                y.options.add(new Option("[Driver]Sensor", "[Driver]Sensor"));
                y.options.add(new Option("[Driver]Others", "[Driver]Others"));

            }if(x.selectedIndex == 4)
        {

            y.options.add(new Option("[SW]OS", "[SW]OS"));
            y.options.add(new Option("[SW]Application", "[SW]Application"));
            y.options.add(new Option("[SW]Preload", "[SW]Preload"));
            y.options.add(new Option("[SW]Others", "[SW]Others"));


        }if(x.selectedIndex == 5)
        {

            y.options.add(new Option("[ME]Structure", "[ME]Structure"));
            y.options.add(new Option("[ME]Cosmetic", "[ME]Cosmetic"));
            y.options.add(new Option("[ME]Cable", "[ME]Cable"));
            y.options.add(new Option("[ME]Parts", "[ME]Parts"));
            y.options.add(new Option("[ME]Packing", "[ME]Packing"));
            y.options.add(new Option("[ME]ID", "[ME]ID"));
            y.options.add(new Option("[ME]Others", "[ME]Others"));



        }

        }
    </script>

    <br><br>
{% endblock %}

<!-- forloop.counter -->