{% extends 'index.html' %}
{% block page-content %}

    <title>Project stage</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
        .table-hover>tbody>tr:hover {
            background-color: #d5d5d5!important;
        }


    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">Project Summary</h2>
            </div>
            <div class="panel-body">

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <table class="panel-body">
                                <tr><th><label for="id_search_strtime">开始时间:</label></th><td><input type="text" name="search_strtime" class="form-control" id="id_search_strtime" value="{{ str_time }}" required readonly></td></tr>
                                <tr><th><label for="id_search_endtime">结束时间:</label></th><td><input type="text" name="search_endtime" class="form-control" id="id_search_endtime" value="{{ now_date }}" onchange="checkDate()" required readonly></td></tr>
                                <tr><th><label for="id_customer">Customer:</label></th><td><select type="text" name="customer" class="form-control" id="id_customer" >
                                    <option value="0">All</option>
                                    <option value="1">Annie</option>
                                    <option value="2">Yama</option>
                                </select></td></tr></table>
                            <div class="caption" style="text-align: center">
                                <input id="load" class="btn btn-success" type="submit" value="查看" onclick="HtmlLoad()">
                            </div>

                        </div>
                    </div>
                </form>

                <div class="col-md-2 pull-right">
                    <div class="thumbnail">
                        <table  class="panel-body table-bordered table-hover col-md-offset-2" style="background: #c7ddef" >
                            <tr><th colspan="2" style="background: #9d9d9d;"><h4 style=""><b>Summary</b></h4></th></tr>
                            <tr><th>Project数量:</th><td>{{ sum_list.sum_project }}</td></tr>
                            <tr><th>Model数量:</th><td>{{ sum_list.sum_model }}</td></tr>
                            <tr><th>Stage数量:</th><td>{{ sum_list.sum_stage }}</td></tr>
                            <tr><th>Attend Hours:</th><td>{{ sum_list.sum_at_time }}</td></tr>
                            <tr><th>Buffer Activity:</th><td>{{ sum_list.sum_buffer }}%</td></tr>
                        </table>
                    </div>

                </div>
                <br/>
                <table id="table" class = "table table-hover table-bordered" style="word-wrap: break-word" >

                    <thead class="">
                    <tr>
                        <th title="Customer">Customer</th>
                        <th title="Project Code">Project <br>Code</th>
                        <th title="Project Name">Project <br>Name</th>
                        <th title="Project Model">Project <br>Model</th>
                        <th title="Platform / Leading">Platform <br>/ leading</th>
                        <th title="PL">PL</th>
                        <th title="TL">TL</th>
                        <th title="MDRR date">MDRR</th>
                        <th title="Stage">Stage</th>
                        <th title="SKU Q'TY">SKU <br>Q'TY</th>
                        <th title="SUT Q'TY">SUT <br>Q'TY</th>
                        <th title="OS">OS</th>
                        <th title="Stage State">Stage <br>Start</th>
                        <th title="Stage End">Stage <br>End</th>
                        <th title="Attend Hours">Attend <br>Hours</th>
                        <th title="Test Progress">Test <br>Progress</th>
                        <th title="Buffer Activity">Buffer <br>Activity</th>
                        <th title="Control Table">Control <br>Table</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for i in stage_list %}
                        <tr>

                            <td style="text-align: center">{{ i.project.project_type }}</td>
                            <td style="text-align: center">{{ i.project.project_id }}</td>
                            <td style="text-align: center">{{ i.project }}</td>
                            <td style="text-align: center;word-wrap:break-word;">{{ i.project.project_model }}</td>
                            <td style="text-align: center;word-wrap:break-word;">{{ i.project.project_platform }} / {{ i.project.project_is_leading_project }}</td>
                            <td style="text-align: center">{{ i.project.test_leader_whq.last_name }}</td>
                            <td style="text-align: center">{{ i.project.test_leader_wzs.last_name }}</td>
                            <td style="text-align: center">{{ i.project.schedule_end|date:'Y-m-d' }}</td>
                            <td style="text-align: center">{{ i.project_stage }}</td>
                            <td style="text-align: center">{{ i.stage_sku_qty }}</td>
                            <td style="text-align: center">{{ i.system_qty }}</td>
                            <td style="text-align: center">{{ i.OS_Ver }}</td>
                            <td style="text-align: center">{{ i.stage_begin|date:'Y-m-d'}}</td>
                            <td style="text-align: center">{{ i.stage_end|date:'Y-m-d' }}</td>
                            <td style="text-align: center">{{ i.attend_hours }}</td>
                            <td style="text-align: center">{{ i.progressed }}</td>
                            <td style="text-align: center">{{ i.buffer_activity }}</td>
                            <td style="text-align: center"><a class="btn btn-info btn-xs" href="{% url 'project_ct_content' i.id %}" onclick="HtmlLoad()">查看</a></td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}
    <script>
        $('#id_search_strtime,#id_search_endtime').datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: 2,
            forceParse: true,
            language: 'en',
            todayBtn: true
        });
        var ddd = new Date();
        var day = ddd.getDate();
        if(ddd.getMonth()<10){
            var month='0' + (ddd.getMonth()+1);
        }
        if(ddd.getDate()<10){
            day = "0" + ddd.getDate();
        }
        var datew = ddd.getFullYear() + "-" + month + "-"+ day;
        var datew = datew.toString();
        $("#id_open_date").val(datew);


        function checkDate() {
            var str_date = document.getElementById("id_search_strtime").value;
            var end_date = document.getElementById("id_search_endtime").value;
            if (getDate(end_date)-getDate(str_date)<0){
                alert("结束时间不能早于开始时间");
            }
        }
        function getDate(date) {
            var dates = date.split('-');
            var dateReturn = '';
            for (var i=0;i<dates.length;i++){
                dateReturn+=dates[i];
            }
            return dateReturn;

        }
        $(function () {
            $("#table").bootstrapTable({
                height:630,
                smartDisplay:true,
                toolbar: '#toolbar'

            })
        })

    </script>

    <br><br>
{% endblock %}

<!-- forloop.counter -->

