{% extends 'index.html' %}
{% block page-content %}

    <title>Project stage</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
        .xtd {
        {#white-space: nowrap; //不换行#}
            text-overflow: ellipsis;
            overflow: hidden; //超出隐藏

        {#word-break:break-all;#}
        {#word-wrap:break-word;#}
        }

    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }}'s Control Table</h2>
            </div>
            <div class="panel-body">

                <table class = "table table-striped table-bordered">

                    <thead class="">
                    <tr>
                        <th>project name</th>
                        <th>project stage</th>
                        <th>stage sku qty</th>
                        <th>stage start</th>
                        <th>stage end</th>
                        <th>attend time</th>
                        <th>test progress</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in CT_list %}
                        <tr>
                            <td>{{ i.project }}</td>
                            <td><a href="{% url 'stage_update' i.id %}">{{ i.project_stage }}</a></td>
                            <td>{{ i.stage_sku_qty }}</td>
                            <td>{{ i.stage_begin|date:'Y-m-d' }}</td>
                            <td>{{ i.stage_end|date:'Y-m-d' }}</td>
                            <td>{{ i.attend_time }}</td>
                            <td>{{ i.progressed }}</td>
                            {% if i.id in ct_list_distinct %}
                                <td><a class="btn btn-info" href="{% url 'project_ct_content' i.id %}">查看control table</a></td>
                                <td><a class="btn btn-info" href="{% url 'export_project_report' i.id %}">生成报告</a></td>
                            {% else %}
                                <td><a class="btn btn-info" href="{% url 'project_ct' i.id %}">创建control table</a></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {#                    <input class="btn btn-success" type="submit" value="提交">#}
                <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                <button class="btn btn-success pull-right" type="button"
                        onclick="window.location.href='{% url 'project_ct_list' pj.id %}'">新增stage
                </button>
            </div>
        </div>
    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}


    <br><br>
{% endblock %}

<!-- forloop.counter --></title>
</head>
<body>

</body>
</html>