{% extends 'index.html' %}
{% block page-content %}

    <title>project control table</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
        th{
            text-align: center;
            background: #9d9d9d;
            font-size: initial;
        }

    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }} {{ plist.project_stage }}'s Control Table</h2>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class = "table table-striped table-bordered" id="control_table">
                        <thead>
                        <tr>
                            {#                            <th>Select</th>#}
                            <th style="text-align: center" width="8%">Test Sheet</th>
                            <th width="20%">Description</th>
                            {#                            <th width="8%">Function</th>#}
                            <th width="8%">Total Sub-item</th>
                            <th width="8%">Attend_Time</th>
                            {% for i in SKU_Num_list %}
                                <th width="8%">SKU{{ i }}</th>
                            {% endfor %}
                            <th width="8%">By Sheet Assign</th>
                            {#                            <th>SKU</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {%  for sheets in sheets_list %}

                            <tr>
                            {#                            <td><label class="checkbox-inline" for="check_box_list"></label><input type="checkbox" value="{{ sheets.id }}" name="check_box_list" ></td>#}
                            <td style="text-align: center">{{ sheets.sheet_name }}</td>
                            <td>{{ sheets.sheet_description }}</td>
                            {#                            <td style="text-align: center">{{ sheets.function }}</td>#}
                            <td style="text-align: center">{{ sheets.count }}</td>
                            <td style="text-align: center">{{ sheets.attend_time }}</td>

                            {% for i in SKU_Num_list %}
                                <td id="{{ sheets.id }}"><select class="form-control sel_mems" style="width: 120px;text-align: center" name="{{ sheets.id }}-SKU{{ i }}" id="sheets{{ sheets.id }}">
                                    {% for i in test_user %}
                                        {% if i.last_name == 'N/A' %}
                                            <option value="{{ i.id }}" selected>{{ i.last_name }}</option>
                                        {% else  %}
                                            <option value="{{ i.id }}">{{ i.last_name }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select></td>

                            {% endfor %}
                            <td>
                                <select style="background-color: #9acfea" class="form-control sel_mem" name="{{ sheets.id }}" id="sheet{{ sheets.id }}" onchange="aa({{ sheets.id }})">
                                    {% for u in test_user %}
                                        {% if u.last_name == 'N/A' %}
                                            <option value="{{ u.id }}" selected>{{ u.last_name }}</option>
                                        {% else  %}
                                            <option value="{{ u.id }}">{{ u.last_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>

                        {% endfor %}
                        <script type="text/javascript">
                            function aa(tt) {
                                var sel = "sheet"+tt;
                                var sels = "sheets"+tt;
                                $("#"+sels+" ").val(document.getElementById(sel).value);
                            }

                        </script>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                    <input class="btn btn-success pull-right" type="submit" value="提交" title="提交过程大约需要3分钟，请耐心等待！">
        <p class="pull-right">提交过程大约需要3分钟，请耐心等待！</p>

        </form>
        </div>
        </div>

    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}


    <br><br>
{% endblock %}

<!-- forloop.counter -->