{% extends 'index.html' %}
{% block page-content %}

    <title>project control table</title>
    <style>
        body {
            background-color: #eeedef;
        {#padding-right:0!important;#}
        }
        table {
            table-layout:  fixed;
        }
        th{
            text-align: center;
            background: #9d9d9d;
            font-size: initial;
        }
        .loading {
            width: 160px;
            height: 56px;
            position: absolute;
            top: 50%;
            left: 45%;
            line-height: 56px;
            color: #fff;
            padding-left: 60px;
            font-size: 15px;
            background: #000 url(../../static/img/loading.gif) no-repeat 10px 50%;
            opacity: 0.7;
            z-index: 9999;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        }

    </style>
    <script>
        function  HtmlLoadCT(url){
            $('#myModal').modal('show');
            setTimeout(function () {
                $('#myModal').modal('hide');
            }, 100000);

        }


        $(function () {
            $("#table").bootstrapTable({
                {#url:"data.jason",#}
                height:600,
            })
        })
    </script>



    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }} {{ plist.project_stage }}'s Control Table</h2>
            </div>
            <div class="panel-body">
                {#                            ********loading**************#}
                {#                <div class="container">#}
                {#                    <div id="myModal" class="modal fade" data-keyboard="false"#}
                {#                         data-backdrop="static" data-role="dialog"#}
                {#                         aria-labelledby="myModalLabel" aria-hidden="true">#}
                {#                        <div id="loading" class="loading">加载中。。。</div>#}
                {#                    </div>#}
                {#                </div>#}
                {#            ****************************#}
                {#                <form action="" method="POST">#}
                <form action="{% url "project_ct" plist.id%}" method="POST">
                    {% csrf_token %}

                    <table id="table" class = "table table-striped table-bordered" >

                        <thead>
                        <tr>

                            <th style="text-align: center" width="80px">Test Sheet</th>
                            <th width="200px">Description</th>
                            <th width="80px">Total Sub-item</th>
                            <th width="80px">Attend_Time</th>
                            {% for i in SKU_Num_list %}
                                <th width="80px">SKU{{ i }}</th>
                            {% endfor %}
                            <th width="80px">By Sheet Assign</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%  for sheets in sheets_list %}

                            <tr>

                            <td style="text-align: center">{{ sheets.sheet_name }}</td>
                            <td>{{ sheets.sheet_description }}</td>
                            <td style="text-align: center">{{ sheets.count }}</td>
                            <td style="text-align: center">{{ sheets.attend_time }}</td>

                            {% for i in SKU_Num_list %}
                                <td id="{{ sheets.id }}"><select class="form-control" style="text-align: center" name="{{ sheets.id }}-SKU{{ i }}" id="sheets{{ sheets.id }}">
                                    {% for i in test_user %}
                                        {% if i.last_name == 'N/A' %}
                                            <option value="{{ i.id }}" selected>{{ i.last_name }}</option>
                                        {% else  %}
                                            <option value="{{ i.id }}">{{ i.last_name }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select></td>

                            {% endfor %}
                            <td>
                                <select style="background-color: #9acfea" class="form-control sel_mem" name="{{ sheets.id }}" id="sheet{{ sheets.id }}" onchange="aa({{ sheets.id }})">
                                    {% for u in test_user %}
                                        {% if u.last_name == 'N/A' %}
                                            <option value="{{ u.id }}" selected>{{ u.last_name }}</option>
                                        {% else  %}
                                            <option value="{{ u.id }}">{{ u.last_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>

                        {% endfor %}
                        <script type="text/javascript">
                            function aa(tt) {
                                var sel = "sheet"+tt;
                                var sels = "sheets"+tt;
                                $("#"+sels+" ").val(document.getElementById(sel).value);
                            }
                        </script>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                    <input class="btn btn-success pull-right" type="submit" value="提交" title="提交过程大约需要3分钟，请耐心等待！" onclick="HtmlLoadCT()">
                </form>
        <p class="pull-right">提交过程大约需要3分钟，请耐心等待！</p>



    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}


    <br><br>
{% endblock %}

<!-- forloop.counter -->