{% extends 'index.html' %}
{% block page-content %}

    <title>project stage</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
        th{
            text-align: center;

        }

    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }}'s Control Table</h2>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class = "table table-striped table-bordered">

                        <tbody>
                        <tr hidden><th><label for="id_project_id"></label></th><td><input type="text" name="project_id" class="form-control" id="id_project_id" value="{{ pj.id }}" readonly ></td></tr>
                        <tr><th><label for="id_project_name">Project:</label></th><td><input type="text" name="project_name" class="form-control" id="id_project_name" value="{{ pj.project_name }}" readonly></td></tr>
                        <tr><th><label for="id_project_stage">Project_Stage:</label></th><td><input type="text" name="project_stage" class="form-control" id="id_project_stage"></td></tr>
                        <tr><th><label for="id_stage_sku_qty">Stage_Sku_qty:</label></th><td><input type="text" name="stage_sku_qty" class="form-control" id="id_stage_sku_qty"></td></tr>
                        <tr><th><label for="id_stage_begin">Stage_Begin:</label></th><td><input type="date" name="stage_begin" class="form-control" id="id_stage_begin" readonly></td></tr>
                        <tr><th><label for="id_stage_end">Stage_End:</label></th><td><input type="date" name="stage_end" class="form-control" id="id_stage_end" readonly></td></tr>
                        <tr><th><label for="id_stage_note">Stage_Note:</label></th><td><input type="text" name="stage_note" class="form-control" id="id_stage_note" placeholder="多个model不同sku，在这里说明，如:SKU1,SKU2,SKU3为TC-330,SKU4为XC-330"></td></tr>
                        </tbody>
                    </table>

                    <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                    <input class="btn btn-success pull-right" type="submit" value="提交">

                    <p class = "text-center text-danger">{{error }}</p>
        </form>
        </div>
        </div>

    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}
    <script>
        $('#id_stage_begin,#id_stage_end').datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: 2,
            forceParse: false,
            language: 'en'
        });
    </script>

    <br><br>
{% endblock %}

<!-- forloop.counter -->