{% extends 'index.html' %}
{% block page-content %}

    <title>project control table</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
        th{
            text-align: center;
            background: #9d9d9d;
            font-size: initial;
        }
    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.project_name }} {{ plist.project_stage }}'s Control Table</h2>
            </div>
            <div>
                <br>
            <a class="btn btn-info pull-right" data-toggle="modal" data-target="#test_time_review" href="{% url 'test_time_review' plist.id %} ">task分配检查</a></div>
            <h6 class="pull-right" style="color: red ">***{{ plist.stage_note }}***</h6>
            <div class="panel-body">
                {#                <form action="" method="POST">#}
                {% csrf_token %}
                <table class = "table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center" width="8%">Test Sheet</th>
                        <th width="25%">Description</th>
                        <th style="text-align: center" width="7%">Attend_Time</th>
                        {% for j in SKU_Num_list %}
                            <th colspan="2" style="text-align: center" width="12%">SKU{{ j }}</th>
                        {% endfor %}
                        <th style="text-align: center" width="10%">Test Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# by ct content #}
                    {% for i in new_list %}
                        <tr>
                            <td style="text-align: center;vertical-align: middle">{{ i.sheet_name }}</td>
                            <td style="text-align: left;vertical-align: middle">{{ i.sheet_description }}</td>
                            <td style="text-align: center;vertical-align: middle">{{ i.attend_time }}</td>
                            {% for j in SKU_Num_list %}
                                {% if j == 1 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 1 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku1.last_name }}</a></td>
                                    {% if i.sku1.last_name != 'N/A' %}
                                         {% if i.sku1_progress != '100%' %}
                                            <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku1_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku1_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                         {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 2 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 2 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku2.last_name }}</a></td>
                                    {% if i.sku2.last_name != 'N/A' %}
                                        {% if i.sku2_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku2_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                        {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku2_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                     <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 3 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 3 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku3.last_name }}</a></td>
                                    {% if i.sku3.last_name != 'N/A' %}
                                        {% if i.sku3_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku3_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                        {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku3_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 4 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 4 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku4.last_name }}</a></td>
                                    {% if i.sku4.last_name != 'N/A' %}
                                        {% if i.sku4_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku4_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku4_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}<td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 5 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 5 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku5.last_name }}</a></td>
                                    {% if i.sku5.last_name != 'N/A' %}
                                        {% if i.sku5_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku5_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku5_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 6 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 6 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku6.last_name }}</a></td>
                                    {% if i.sku6.last_name != 'N/A' %}
                                        {% if i.sku6_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku6_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku6_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 7 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 7 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku7.last_name }}</a></td>
                                    {% if i.sku7.last_name != 'N/A' %}
                                        {% if i.sku7_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku7_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku7_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% elif j == 8 %}
                                    <td style="text-align: center"><a href="{% url 'change_tester' plist.id i.sheet_id 8 %}" data-toggle="modal" data-target="#change_tester">{{ i.sku8.last_name }}</a></td>
                                    {% if i.sku8.last_name != 'N/A' %}
                                        {% if i.sku8_progress != '100%' %}
                                            <td style="text-align: center"><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku8_progress }} &nbsp <i class="glyphicon glyphicon-floppy-remove" style="color: red"></i></a></td>
                                         {% else %}
                                             <td style="text-align: center" ><a href='{% url 'result_check' plist.id i.sheet_id j  %}'>{{ i.sku8_progress }} &nbsp <i class="glyphicon glyphicon-ok" style="color: blue"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center">N/A</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if i.test_result == "Fail" %}
                                <td style="text-align: center">{{ i.test_result }} <Br/> Refer to bug ID: <a href="{% url 'issue_list' pj.id %}">{{ i.bugid }}</a></td>
                            {% else %}
                                <td style="text-align: center">{{ i.test_result }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#                    <input class="btn btn-success" type="submit" value="提交">#}
                <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
            </div>
        </div>
        <div class="modal fade" id="change_tester" tabindex="-1" role="dialog" aria-labelledby="statusLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="test_time_review" tabindex="-1" role="dialog" aria-labelledby="statusLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}
    <script>
        $(function () {
            $('#change_tester').on('hide.bs.modal',)
        });
    </script>
    <br><br>
{% endblock %}

<!-- forloop.counter -->