{% extends 'index.html' %}
{% block page-content %}

    <title>project control table</title>
    <style>
        body {
            background-color: #eeedef;
            padding-right:0!important;
        }
        table {
            table-layout:  fixed;
        }
         th{
            text-align: center;
            background: #9d9d9d;
            font-size: initial;
        }
    </style>


    <p>{% if user.is_authenticated %}
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title">{{ pj.name }} {{ plist.project_stage }}'s Control Table</h2>
            </div>
            <h4 class="pull-right" style="color: red ">***{{ plist.stage_note }}***</h4>
            <div class="panel-body">
                {#                <form action="" method="POST">#}
                {% csrf_token %}
                <table class = "table table-striped table-bordered">

                    <thead>
                    <th width="10%">Test Sheet</th>
                    <th>Description</th>
                    <th>Attend_Time</th>
                    {% for j in SKU_Num_list %}
                        <th>SKU{{ j }}</th>
                    {% endfor %}
                    <th>Test Result</th>
                    </thead>
                    <tbody>

                    {# by ct content #}
                    {% for i in new_list %}
                        <tr>
                            <td style="text-align: center">{{ i.sheet_name }}</td>
                            <td style="text-align: center">{{ i.sheet_description }}</td>
                            <td style="text-align: center">{{ i.attend_time }}</td>
                            {% for j in SKU_Num_list %}
                                {% if j == 1 %}
                                    {% if i.sku1.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.1 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku1.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku1.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku1.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 2 %}
                                    {% if i.sku2.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.2 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku2.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku2.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku2.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 3 %}
                                    {% if i.sku3.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.3 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku3.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku3.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku3.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 4 %}
                                    {% if i.sku4.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.4 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku4.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku4.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku4.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 5 %}
                                    {% if i.sku5.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.5 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku5.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku5.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku5.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 6 %}
                                    {% if i.sku6.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.6 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku6.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku6.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku6.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 7 %}
                                    {% if i.sku7.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.7 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku7.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku7.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku7.last_name }}</h6></td>
                                    {% endif %}
                                {% elif j == 8 %}
                                    {% if i.sku8.first_name == user.first_name %}
                                        {% if i.sheet_id in done_reuslt_list.8 %}
                                            <td style="text-align: center"><a href='{% url 'result_review' plist.id i.sheet_id j  %}'>{{ i.sku8.last_name }} &nbsp <i class="glyphicon glyphicon-saved"></i></a></td>
                                        {% else %}
                                            <td style="text-align: center"><a href='{% url 'test_result' plist.id i.sheet_id j  %}'>{{ i.sku8.last_name }}</a></td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: center"><h6>{{ i.sku8.last_name }}</h6></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td style="text-align: center">{{ i.test_result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#                    <input class="btn btn-success" type="submit" value="提交">#}
                <div class="col-md-1 pull-right">
                    <input class="btn btn-success pull-right" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
                </div>
            </div>
        </div>
    {% else %}
        <a href="/login/"><h1>please login!</h1></a>
    {% endif %}


    <br><br>
{% endblock %}

<!-- forloop.counter -->