{% extends 'index.html' %}
{% block page-content %}
    <style>
        body {
            background-color: #eeedef;
        }
    </style>
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <form action="" method="POST" NOVALIDATE class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-8">
                        <table>
                            <br>
                            </br>
                            </br>
                            <tr>
                                <th>
                                    <label for="id_upload_files">上传文件:</label>
                                </th>
                                <td>
                                    <input type="file" class="form-control" id="id_issue_upload" name="issue_upload" >
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </br>
                        <input class="btn btn-success pull-right" type="button" onclick="javascript:history.back(-1);" value="返回">
                        <input class="btn btn-success  pull-right" value="提交" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <a href="/login/"><H4>please login!</H4></a>
{% endif %}
{% endblock %}

